
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.webdesign {
    margin-top: 140px;
}

.title-wrapper {
    display: block;
}

a {
    text-decoration: none;
    text-align: left;
  }
  
  /* Galeria */
  .galeria {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh auto;
    margin: 2em auto;
    max-width: 100%;
    width: 100%;
  }
  
  .galeria h2 {
    font-size: 30px;
    grid-column: 1/4;
  }
  
  .galeria a {
    cursor: zoom-in;
    transition: filter 0.2s ease-in-out;
  }
  
  .galeria a:hover {
    filter: brightness(90%);
  }
  
  .galeria .item strong {
    display: block;
    font-size: 1em;
    text-align: center;
    padding: 20px 5px 5px 5px;
  }
  
  .galeria img {
    max-width: 100%;
  }
  
  /* Lightbox */
  
  .lightbox {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    z-index: 1000;
  }
  
  .lightbox:target {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
  }
  
  .lightbox img {
    border-radius: 1em;
    display: block;
    margin: auto;
    max-height: 80vh;
    max-width: 90vh;
  }
  
  .lightbox .fechar {
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    height: 1em;
    position: fixed;
    right: 0;
    top: 0;
    width: 1em;
    z-index: 1001;
  }
  
  .lightbox p {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
  


